@model List<MovieViewModel>
@{
    ViewBag.Title = "Inicio";
}

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Id</th>
            <th>Eliminar</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Genre</td>
                <td>@item.Id</td>
                <td><a asp-controller="App" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a></td>
                <td><a asp-controller="App" asp-action="AddOrEdit" asp-route-id="@item.Id" class="btn btn-success"><i class="fa-solid fa-pencil"></i></a></td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="App" asp-action="AddOrEdit" class="btn btn-primary"><i class="fa-solid fa-circle-plus">  Agregar</i></a>
